*.a
*.dll
*.exe
*.o
*.so
vfd/libvfd/vfd_test
vfd/vfdd/vfdd
ledsign/lsd/lsd
ledsign/lsp/cgic205
ledsign/lsp/lsp
ledsign/lsd/6x7font.h
ledsign/lsd/font2c
rgblamp/vis_rgb/greentab_audacious.h
rgblamp/vis_rgb/greentab_winamp.h
rgblamp/vis_rgb/visrgb
rgblamp/vis_rgb/visrgbsdl
rgblamp/vis_rgb/viskodi/rgblamp.vis
